/* style001.css */

body
{
    margin: 4px 8px;
    background-color: rgb(0, 0, 0);
}

.card
{
    width: 84px;
    height: 84px;
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

